@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  h1, h2, h3, h4, h5 {
    @apply font-montserrat;
  }

  p, span {
    @apply font-inter;
  }
}


.bg-gradient {
  @apply bg-gradient-to-r from-purple-500 to-pink-500;
}

.text-head {
  @apply text-center text-4xl font-bold;
}

.text-gradient {
  @apply font-bold text-transparent w-fit bg-clip-text bg-gradient-to-r bg-gradient text-center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
